/*-----Background-----*/

body{
	 background-image: url(reservation_bg.jpg);
	 background-repeat:no-repeat;
	 background-size:cover;
	 width:100%;
	 height:100vh;
	     margin: 0;

}

form{
	padding: 0;
	font-size: 20px;
	margin: 0;
}

.header ul
{
    list-style-type: none;
    overflow: hidden;
    background-color:#191970;
    margin: 0;
}

li
{
    float: right;
}

li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}


li a:hover
{
    background-color:red;
}

.TEXT
{
    width: 5cm;
    height: 2.5cm;
}

.button
{
    display: block;
    background-color: green;
    width: fit-content;
    height: fit-content;
    color: ghostwhite;
    padding: 15px 32px;
    font-size: 14px;
    text-decoration: none;
}

.button:hover
{
    background-color: deepskyblue;
}


/*--- for label of first and last name---*/
.check_out{
	 margin-left: 1px;
     font-family: sans-serif;
     font-size: 14px;
     color: white;
     margin-top: 10px;

}
.check_in{
	 margin-left: 1px;
     font-family: sans-serif;
     font-size: 14px;
     color: white;
     margin-top: 5px;
}
.j_kamar{
	 	margin-left: 1px;
     font-family: sans-serif;
     font-size: 14px;
     color: white;
     margin-top: 10px;
}
.no_id{
	 margin-left: 1px;
     font-family: sans-serif;
     font-size: 14px;
     color: white;
     margin-top: 10px;
}
.dewasa{
	 margin-left: 1px;
     font-family: sans-serif;
     font-size: 14px;
     color: white;
     margin-top: 10px;
}
.anak{
	 margin-left: 1px;
     font-family: sans-serif;
     font-size: 14px;
     color: white;
     margin-top: 10px;
     margin-bottom:auto;
}
.alamat{
	 margin-left: 1px;
     font-family: sans-serif;
     font-size: 14px;
     color: white;
     margin-top: 10px;
}
#check_out{
	 margin-top:5px;
}
#alamat{
	 margin-top:5px;
}
#j_kamar{
	 margin-top:5px;
}

#no_identitas{
	 margin-top:5px;
}
#dewasa{
	 margin-top:5px;
}

/*---for heading-----*/
.heading{
	 text-decoration:bold;
	 text-align : center;
	 font-size:30px;
	 color:#F96;
	 padding-top:10px;
}
/*-------for anak----------*/
  /*------label----*/
#anak{
	  margin-top: 5px;
}
/*-----------for kamar--------*/
     /*-------label-----*/
.mail{
	 margin-left: 44px;
     font-family: sans-serif;
     color: white;
     font-size: 14px;
     margin-top: 13px;
}
.kamar{
	 color: white;
     margin-top: 9px;
     font-size: 14px;
     font-family: sans-serif;
     margin-left: 4px;
     margin-top: 9px;
}
#kamar{
 margin-top: 6px;
}
#confirm_kamar{
 margin-top: 6px;
}
/*------------for phone Number--------*/
      /*----------label--------*/
.pno{
	 font-size: 18px;
     margin-left: -13px;
     margin-top: 10px;
     color: #ff9;

}

/*--------------for Gender---------------*/
     /*--------------label---------*/

.gender {
	 color: white;
     font-family: sans-serif;
     font-size: 14px;
     margin-left: 28px;
     margin-top: 8px;
}

     /*---------- for Input type--------*/
.col-xs-4.male{
	 color: white;
     font-size: 13px;
     margin-top: 9px;
     padding-bottom: 16px;
}
.col-xs-4.female {
     color: white;
     font-size: 13px;
     margin-top: 9px;
     padding-bottom: 16px;
	 padding-right: 95px;
}
/*------------For submit button---------*/
.sbutton{
	background-color:Green;
	margin-left:4;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
   }

input[type=submit]{
	     background-color:Green;
	 	margin-left:4;
	     border: none;
	     color: white;
	     padding: 15px 15px;
	     text-align: center;
	     text-decoration: none;
	     display: inline-block;
	     font-size: 15px;
}

.btn.btn-warning{
  margin-right: 15px;
}
.btn.btn-warning:hover {
    box-shadow: 2px 1px 2px 3px #99ccff;
	background:#5900a6;
	color:#ffff;
	transition: background-color 1.15s ease-in-out,border-color 1.15s ease-in-out,box-shadow 1.15s ease-in-out;

}

div.transbox {
  margin: 30px;
  background-color: #000000;
  color:white;
  border: 1px solid black;
  opacity: 1;
  filter: alpha(opacity=60); /* For IE8 and earlier */
  margin= 10px;
	padding-left: 30px;
	padding-bottom: 90px;
	padding-right: 30px;
	padding-top: 40px;
}

div.transbox p {
  margin: 5%;
  color: #FFFFFF;
  text-align:center;
}


.example3 .nav >li >a {
  padding-top: 30px;
  padding-bottom: 20px;
}
.example3 .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}


#myBtn{
  float: left;

  color: lightgrey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: Transparent;
  background-repeat:no-repeat;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.modal-header, h4, .close {
      background-color: black;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }

  /*
    ipad pro
  */

  @media (min-width: 1366px) and (max-width: 1450px){
    .carousel-inner{
      width:100%;
      max-height: 900px !important;
    }
  }

  /*
    nexus 7
  */

  @media (min-width: 600px) and (max-width: 640px) {
    .carousel-inner{
      width:100%;
      max-height: 340px !important;
    }
  }

  @media (min-width: 1023px) and (max-width: 1040px) {
    .carousel-inner{
      width:100%;
      max-height: 500px !important;
    }
  }
  /*
    ipad retina / mini
  */

  @media (min-width: 768px) and (max-width: 800px) {
    .carousel-inner{
      width:100%;
      max-height: 430px !important;
    }
  }

  /*
    google pixel
  */

  @media (min-width: 410px) and (max-width: 425px){
  /* .home-image {
     padding-right: 50%;
  } */
}


@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.myCarousel{
  margin-top: 100px;
}
#login1
{
  float: right;
  color: lightgrey;
  text-align: center;
  margin-top: 5px;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding-top: 10%;
    padding-bottom: 10%;
    background-position: center;
    background-size: cover;
    margin: 0px auto 0 auto;
}

.col-md-4{
  padding-top: 5%;
  padding-bottom: 5%;
}
.home-image{
  display: flex;
  justify-content: center;
  padding-top: 10%;
}

.home-introduction{
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
    margin: 0px auto 0 auto;
}
/* Clearfix (clear floats) */
.rowz::after {
    content: "";
    clear: both;
    display: table;
}
.rowz
{
 margin:0 auto;
 background:#f7f7f7;
 left:50%;
 top:50%;
}
/* .image1{
  padding-left: 35%;
  padding-right: 20%;
} */

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .column {
        width: 100%;
        position: center;
        display: table;
        margin: 0 auto;
        position: relative;
        margin: 0px auto 0 auto;
    }
    /* .image1{
      padding-left: 40%;
      padding-right: 20%;
      margin: 0px auto 0 auto;
    } */
}

.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #070617;
}
.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 30px 50px;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: rgba(255,255,255,0.2);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: #999999;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  color: #ffffff;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}
.clearfix {
  clear: both;
}
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
    .footer .col {
      width: 50%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}
