/*-----Background-----*/

body{
	 background-repeat:no-repeat;
	 background-size:cover;
	 width:100%;
	 height:100vh;
	 overflow:auto;
	 background-color: #e6eaed;

}

/*-----for border----*/
/*.container{
	font-family:Roboto,sans-serif;
	  background-image:url(https://image.freepik.com/free-vector/dark-blue-blurred-background_1034-589.jpg) ;

     border-style: 1px solid grey;
     margin: 0 auto;
     opacity: 0.8;
     text-align: right;
     padding-left:10px;
     margin-top: 67px;
     box-shadow: 2px 5px 5px 0px #eee;
     max-width: 500px;
     padding-top: 10px;
     height: 600px;
     margin-top: 166px;
}*/
=======
/*--- for label of first and last name---*/
.check_out{
	 margin-left: 1px;
     font-family: sans-serif;
     font-size: 14px;
     color: white;
     margin-top: 10px;

}
.check_in{
	 margin-left: 1px;
     font-family: sans-serif;
     font-size: 14px;
     color: white;
     margin-top: 5px;
}

.w3_main_grid_right {
    float: right;
}

.j_kamar{
	 	margin-left: 1px;
     font-family: sans-serif;
     font-size: 14px;
     color: white;
     margin-top: 10px;
}
.no_id{
	 margin-left: 1px;
     font-family: sans-serif;
     font-size: 14px;
     color: white;
     margin-top: 10px;
}
.dewasa{
	 margin-left: 1px;
     font-family: sans-serif;
     font-size: 14px;
     color: white;
     margin-top: 10px;
}
.anak{
	 margin-left: 1px;
     font-family: sans-serif;
     font-size: 14px;
     color: white;
     margin-top: 10px;
     margin-bottom:auto;
}
.alamat{
	 margin-left: 1px;
     font-family: sans-serif;
     font-size: 14px;
     color: white;
     margin-top: 10px;
}
#check_out{
	 margin-top:5px;
}
#alamat{
	 margin-top:5px;
}
#j_kamar{
	 margin-top:5px;
}

#no_identitas{
	 margin-top:5px;
}
#dewasa{
	 margin-top:5px;
}

/*---for heading-----*/
.heading{
	 text-decoration:bold;
	 text-align : center;
	 font-size:30px;
	 color:#F96;
	 padding-top:10px;
}
/*-------for anak----------*/
  /*------label----*/
#anak{
	  margin-top: 5px;
}
/*-----------for kamar--------*/
     /*-------label-----*/
.mail{
	 margin-left: 44px;
     font-family: sans-serif;
     color: white;
     font-size: 14px;
     margin-top: 13px;
}
.kamar{
	 color: white;
     margin-top: 9px;
     font-size: 14px;
     font-family: sans-serif;
     margin-left: 4px;
     margin-top: 9px;
}
#kamar{
 margin-top: 6px;
}
#confirm_kamar{
 margin-top: 6px;
}
/*------------for phone Number--------*/
      /*----------label--------*/
.pno{
	 font-size: 18px;
     margin-left: -13px;
     margin-top: 10px;
     color: #ff9;

}

/*--------------for Gender---------------*/
     /*--------------label---------*/

.gender {
	 color: white;
     font-family: sans-serif;
     font-size: 14px;
     margin-left: 28px;
     margin-top: 8px;
}

     /*---------- for Input type--------*/

/*------------For submit button---------*/
.sbutton{
	background-color:Green;
	margin-left:4;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
   }

input[type=submit]{
	     background-color:Green;
	 	margin-left:4;
	     border: none;
	     color: white;
	     padding: 15px 15px;
	     text-align: center;
	     text-decoration: none;
	     display: inline-block;
	     font-size: 15px;
}

.btn.btn-warning{
  margin-right: 15px;
}
.btn.btn-warning:hover {
    box-shadow: 2px 1px 2px 3px #99ccff;
	background:#5900a6;
	color:#ffff;
	transition: background-color 1.15s ease-in-out,border-color 1.15s ease-in-out,box-shadow 1.15s ease-in-out;

}

div.transbox {
  margin: 30px;
  background-color: #000000;
  color:white;
  border: 1px solid black;
  opacity: 1;
  filter: alpha(opacity=60); /* For IE8 and earlier */
  margin= 10px;
	padding-left: 30px;
	padding-bottom: 90px;
	padding-right: 30px;
	padding-top: 40px;
}

p{
	line-height: 1.8;
	font-size: large;
}

div.transbox p {
  margin: 5%;
  color: #FFFFFF;
  text-align:center;
}


.example3 .nav >li >a {
  padding-top: 30px;
  padding-bottom: 20px;
}
.example3 .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}


#myBtn{
  float: left;

  color: lightgrey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: Transparent;
  background-repeat:no-repeat;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.modal-header, h4, .close {
      background-color: black;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }

  /*
    ipad pro
  */


.myCarousel{
  margin-top: 100px;
}
#login1
{
  float: right;
  color: lightgrey;
  text-align: center;
  margin-top: 5px;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

* {
    box-sizing: border-box;
}

umn {
    float: left;
    width: 33.33%;
    padding-top: 10%;
    padding-bottom: 10%;
    background-position: center;
    background-size: cover;
    margin: 0px auto 0 auto;
}

-md-4{
  padding-top: 5%;
  padding-bottom: 5%;
}
.home-image{
  display: flex;
  justify-content: center;
  padding-top: 10%;
}

.home-introduction{
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
    margin: 0px auto 0 auto;
}
/* Clearfix (clear floats) */
.rowz::after {
    content: "";
    clear: both;
    display: table;
}
.rowz
{
 margin:0 auto;
 background:#f7f7f7;
 left:50%;
 top:50%;
}
/* .image1{
  padding-left: 35%;
  padding-right: 20%;
} */

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    umn {
        width: 100%;
        position: center;
        display: table;
        margin: 0 auto;
        position: relative;
        margin: 0px auto 0 auto;
    }
    /* .image1{
      padding-left: 40%;
      padding-right: 20%;
      margin: 0px auto 0 auto;
    } */
}

.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #070617;
}
.footer  {
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 30px 50px;
}
.footer  h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: rgba(255,255,255,0.2);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}
.footer  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer  ul li {
  color: #999999;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer  ul li:hover {
  color: #ffffff;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}
.clearfix {
  clear: both;
}
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer h1 {
    font-size: 14px;
  }
  .footer ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
    .footer  {
      width: 50%;
    }
    .footer  h1 {
      font-size: 14px;
    }
    .footer  ul li {
      font-size: 13px;
    }
}
@media only screen and (max-width: 340px) {
  .footer  {
    width: 100%;
  }
}

.colmargin{
		margin-top: 1.5%;
}

.colmargin1{
		margin-top: 4%;
}

.harga{
	color: #f96d01;
	font-size: 18px;
	line-height: 1;
	margin-bottom: 4px;
	font-weight: bold;
}
.row{
	margin-bottom: 10px;
		background: #fff;
		font-family: sans-serif;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    //box-sizing: border-box;
    //display: inline-block;
    //position: relative;
}

.box {
  position: relative;
  margin: .5em;
}
.inner-content {
  background: #fff;
  padding: .75em;
}

.border-top, .border-bottom {
  width: 0%;
  height: 3px;
  background: #e72;
  position: absolute;
  transition: all .3s ease;
}

/* Changing the left/right zero point will change where the transition starts from */
.border-top { top: 0; left: 0; }
.border-bottom { bottom: 0; right: 0; }
.box:hover .border-top,
.box:hover .border-bottom {
  width: 100%;
}

.border-right, .border-left {
  width: 3px;
  height: 0%;
  background: #e72;
  position: absolute;
  transition: all .3s ease .3s;
}
/* a .3 second delay causes our right/left borders to draw after our top/bottom borders */


/* Changing the top/bottom zero point will change where the transition starts from */
.border-right { top: 0; right: 0; }
.border-left { bottom: 0; left: 0; }
.box:hover .border-right,
.box:hover .border-left {
  height: 100%;
}

.effect {
  text-align: center;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: $link-text-color;
  text-transform: capitalize;
  /* background-color: - add your own background-color */
  font: {
    family: 'Roboto', sans-serif; /* put your font-family */
    size: 18px;
  }
  padding: 20px 0px;
  width: 150px;
  border-radius: $border-radius;
  overflow: hidden;
}

.effect .effect-2 {
  transition: all 0.2s linear 0s;

  &:before {
    content: "\f0a4";
    font-family: FontAwesome;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 100%;
    background-color: rgba($overlay-color,0.3);
    border-radius: 0px $border-radius $border-radius 0px;
    transition: all 0.2s linear 0s;
    text-align: center;
  }

  &:hover {
    text-indent: -30px;

    &:before {
      right: 0;
      text-indent: 0px;
    }
  }
}

.effect {
  text-align: center;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  background-color: #f96d01;
  font-family: 'Roboto', sans-serif;
  /* put your font-family */
  font-size: 18px;
  padding: 20px 0px;
  width: 150px;
  border-radius: 6px;
  overflow: hidden;
}


/* effect-2 styles */
.effect.effect-2 {
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
.effect.effect-2:before {
  content: "\f0a4";
  font-family: FontAwesome;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  right: -30px;
  width: 30px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0px 6px 6px 0px;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
  text-align: center;
}
.effect.effect-2:hover {
  text-indent: -30px;
	color: white;
}
.effect.effect-2:hover:before {
  right: 0;
  text-indent: 0px;
}

.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #070617;
}
.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 30px 50px;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: rgba(255,255,255,0.2);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: #999999;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
